<div class="container" style="max-width: 400px; margin: auto">
  <form autocomplete="off" #loginForm="ngForm">
    <div class="p-grid p-fluid ">
      <div class="login-card">
        <div class="col-12">
          <h1 class="text-center">Login</h1>
        </div>
        <div class="col-12">
          <input pInputText type="email" name="usuario" placeholder="E-mail"
            ngModel required #usuario>
        </div>

        <div class="col-12">
          <input pInputText type="password" name="senha" placeholder="Senha"
            ngModel required #senha>
        </div>

        <div class="col-12 md:col-4">
          <button pButton type="submit" icon="pi pi-sign-in" iconPos="left" label="Login" [disabled]="!loginForm.valid"
            (click)="login(usuario.value, senha.value); senha.value = ''; "></button>
        </div>
      </div>
    </div>
  </form>

</div>
