<div class="container">
  <form autocomplete="off" (ngSubmit)="salvar()" [formGroup]="formulario">
    <div class="grid">
      <div class="col-12">
        <h1>{{ editando? 'Edição de ' : 'Novo ' }}Lançamento</h1>
      </div>

      <div class="col-12">
        <p-selectButton name="tipo" [options]="tipos"  formControlName="tipo"></p-selectButton>
      </div>


      <div class="col-6 md:col-3 p-fluid">
        <label class="padding">Vencimento</label>
        <p-calendar name="vencimento" dateFormat="dd/mm/yy"
        [inline]="false" [readonlyInput]="false" [showIcon]="true"
        formControlName="dataVencimento"></p-calendar>
      <app-message [control]="formulario.get('dataVencimento')" error="obrigatorio"
        text="Informe uma data de vencimento"></app-message>
      </div>

      <div class="col-6 md:col-3 p-fluid">
        <label class="padding">{{ formulario.get('tipo').value === 'RECEITA' ? 'Recebimento' : 'Pagamento' }}</label>
        <p-calendar dateFormat="dd/mm/yy" [showIcon]="true" name="dataPagamento"
        formControlName="dataPagamento"></p-calendar>
      </div>
      <div class="col-12 md:col-9 p-fluid">
        <label class="padding">Descrição</label>
        <input pInputText type="text" name="descricao"
          formControlName="descricao">

        <app-message [control]="formulario.get('descricao')" error="obrigatorio"
          text="Informe uma descrição"></app-message>
        <app-message [control]="formulario.get('descricao')" error="tamanhoMinimo"
          text="Mínimo de {{ formulario.get('descricao').errors?.tamanhoMinimo?.tamanho }} caracteres"></app-message>

      </div>
      <div class="col-12 md:col-3 p-fluid">
        <label class="padding">Valor</label>
        <input pInputText type="text" name="valor" placeholder="0,00"
          currencyMask [options]="{ prefix: 'R$', thousands: '.', decimal: ',', allowNegative: false }"
          formControlName="valor">
      </div>

     <div class="col-12 md:col-6 p-fluid" formGroupName="categoria">
        <label class="padding">Categoria</label>
        <p-dropdown name="categoria" [options]="categorias"
        placeholder="Selecione" formControlName="codigo"></p-dropdown>
      </div>
      <div class="col-12 md:col-6 p-fluid" formGroupName="pessoa">
        <label class="padding">Pessoa</label>
        <p-dropdown name="pessoa.codigo" [options]="pessoas" placeholder="Selecione"
        [filter]="true" formControlName="codigo"></p-dropdown>
      </div>
      <div class="col-12 p-fluid">
        <label class="padding">Observação</label>
        <textarea pInputTextarea rows="3" name="observacao"
        formControlName="observacao"></textarea>
      </div>
      <div class="lg:col-12 md:col-6 sm:col-3 p-fluid"
      *ngIf="!formulario.get('anexo').value">
          <p-fileUpload name="anexo" mode="basic" auto="true" maxFileSize="100000000" chooseIcon="pi pi-upload"
            chooseLabel="Anexar" accept="image/*,application/*"
            [url]="urlUploadAnexo"
            (onBeforeUpload)="antesUploadAnexo()"
            (onUpload)="aoTerminarUploadAnexo($event)"
            (onError)="erroUpload($event)"
            [hidden]="uploadEmAndamento">
          </p-fileUpload>

          <p-progressSpinner [hidden]="!uploadEmAndamento"
            [style]="{ width: '25px', height: '25px' }"></p-progressSpinner>
      </div>
      <div class="lg:col-12 md:col-6 sm:col-3 p-fluid" dir="rtl"
      *ngIf="formulario.get('anexo').value">
        <button pButton icon="pi pi-times" pTooltip="Excluir" class="p-button-danger"
        tooltipPosition="top" (click)="removerAnexo()"></button>
        <a target="_blank" pTooltip="Baixar anexo" tooltipPosition="top"
        [href]="formulario.get('urlAnexo').value">{{ nomeAnexo }}</a>
      </div>
      <div class=" col-12 sm:col-10">
        <button pButton type="submit" label="Salvar" class="p-button-primary padding" [disabled]="formulario.invalid ||uploadEmAndamento"></button>
        <button pButton type="button" label="Novo" class="p-button-info"
          (click)="novo()"></button>
      </div>
      <div class="col-12 sm:col-2">
        <a routerLink="/lancamentos" class="p-fluid right-0">Voltar para a pesquisa</a>
      </div>
    </div>
  </form>
</div>
