<div class="container">
  <form autocomplete="off"  #pessoaForm="ngForm" (ngSubmit)="salvar(pessoaForm)">
    <div class="formgrid grid">
      <div class="col-12">
        <h1>{{ editando? 'Editar Pessoa' : 'Nova Pessoa ' }}</h1>
      </div>
      <div class="col-12 p-fluid">
        <label class="padding">Nome</label>
        <input pInputText type="text" name="nome"
          [(ngModel)]="pessoa.nome"
          #nome="ngModel" required minlength="5">

        <app-message [control]="nome.control" error="required" text="Informe um Nome"></app-message>
        <app-message [control]="nome.control" error="minlength" text="Mínimo de {{ nome.errors?.minlength?.requiredLength }} caracteres"></app-message>
      </div>
      <div class="col-12 md:col-9 p-fluid">
        <label class="padding">Logradouro</label>
        <input pInputText type="text" name="logradouro"
          [(ngModel)]="pessoa.endereco.logradouro"
          #logradouro="ngModel" required>

        <app-message [control]="logradouro.control" error="required" text="Informe um Logradouro"></app-message>
      </div>
      <div class="col-12 md:col-3 p-fluid">
        <label class="padding">Número</label>
        <input pInputText type="text" name="numero"
          [(ngModel)]="pessoa.endereco.numero"
          #numero="ngModel" required>

        <app-message [control]="numero.control" error="required" text="Informe um Número"></app-message>
      </div>
      <div class="col-12 md:col-4 p-fluid">
        <label class="padding">Complemento</label>

        <input pInputText type="text" name="complemento"
        [(ngModel)]="pessoa.endereco.complemento">
      </div>
      <div class="col-12 md:col-4 p-fluid">
        <label class="padding">Bairro</label>
        <input pInputText type="text" name="bairro"
          [(ngModel)]="pessoa.endereco.bairro"
          #bairro="ngModel" required>

        <app-message [control]="bairro.control" error="required" text="Informe um Bairro"></app-message>
      </div>
      <div class="col-12 md:col-4 p-fluid">
        <label class="padding">CEP</label>
        <p-inputMask name="cep" mask="99.999-999"
          [(ngModel)]="pessoa.endereco.cep"
          #cep="ngModel" [required]="true"></p-inputMask>

        <app-message [control]="cep.control" error="required" text="Informe um CEP"></app-message>

      </div>
      <div class="col-12 md:col-6 p-fluid">
        <label class="padding">Cidade</label>
        <input pInputText type="text" name="cidade"
          [(ngModel)]="pessoa.endereco.cidade"
          #cidade="ngModel" required>

        <app-message [control]="cidade.control" error="required" text="Informe uma Cidade"></app-message>
      </div>
      <div class="col-12 md:col-6 p-fluid">
        <label class="padding">Estado</label>
        <input pInputText type="text" name="estado"
          [(ngModel)]="pessoa.endereco.estado"
          #estado="ngModel" required>

       <app-message [control]="estado.control" error="required" text="Informe um Estado"></app-message>
      </div>
      <div class="col-12 padding-top">
        <button pButton label="Novo Contato" icon="pi pi-plus" type="button"
          class="p-button-secondary" (click)="prepararNovoContato()"></button>
      </div>
      <div class="col-12 padding-top">
        <p-panel header="Contatos">
          <div class="grid">
            <div class="col-12">
              <p-table [value]="pessoa.contatos" [responsive]="true">
                <ng-template pTemplate="header">
                  <tr>
                    <th>Nome</th>
                    <th>E-mail</th>
                    <th>Telefone</th>
                    <th class="col-acoes-header"></th>
                  </tr>
                </ng-template>
                <ng-template pTemplate="body" let-contato>
                  <tr>
                    <td>
                      <span class="p-column-title">Nome</span>
                      {{ contato.nome }}
                    </td>
                    <td>
                      <span class="p-column-title">E-mail</span>
                      {{ contato.email }}
                    </td>
                    <td>
                      <span class="p-column-title">Telefone</span>
                      {{ contato.telefone }}
                    </td>
                    <td class="col-acoes">
                      <span class="p-column-title"></span>
                      <button pButton icon="pi pi-pencil" type="button"
                        pTooltip="Editar" tooltipPosition="top"></button>
                      <button pButton icon="pi pi-trash" type="button"
                      pTooltip="Excluir" tooltipPosition="top"
                        class="p-button-danger"></button>
                    </td>
                  </tr>
                </ng-template>
                <ng-template pTemplate="emptymessage">
                  <tr>
                    <td colspan="4">
                      Nenhum Contato cadastrado!
                    </td>
                  </tr>
                </ng-template>
              </p-table>
            </div>
          </div>
        </p-panel>
      </div>
      <div class="col-12">
        <button pButton type="submit" label="Salvar" [disabled]="!pessoaForm.valid" class="padding"></button>
        <button pButton type="button" label="Novo" (click)="novo(pessoaForm)" class="p-button-info padding"></button>
        <a routerLink="/pessoas" class="p-fluid right">Voltar para a pesquisa</a>
      </div>
    </div>
  </form>
</div>

<p-dialog header="Novo Contato" [(visible)]="exibindoFormularioContato"
  modal="modal" *ngIf="contato" [breakpoints]="{'960px': '75vw', '640px': '100vw'}">
  <form #frmContato="ngForm" (ngSubmit)="confirmarContato(frmContato)">
    <div class="card">
      <div class="field">
        <label>Nome</label>
        <input pInputText type="text" name="nome"
        required [(ngModel)]="contato.nome" #contatoNome="ngModel" class="inputfield w-full"/>

        <app-message [control]="contatoNome" error="required" text="Informe o nome"></app-message>
      </div>
      <div class="field">
        <label>E-mail</label>
        <input pInputText type="email" name="email"
        required email [(ngModel)]="contato.email" #contatoEmail="ngModel" class="inputfield w-full"/>

        <app-message [control]="contatoEmail" error="required" text="Informe um email"></app-message>
        <app-message [control]="contatoEmail" error="email" text="Informe um email válido"></app-message>
      </div>
      <div class="field">
        <label>Telefone</label><br>
        <p-inputMask name="telefone" [(ngModel)]="contato.telefone"
          mask="(99) 99999-9999" styleClass="inputfield w-full"></p-inputMask>
      </div>
      <div class="field">
        <button pButton type="submit" label="Confirmar"
         [disabled]="frmContato.invalid"></button>
      </div>
    </div>
  </form>
</p-dialog>
