<div class="container">
  <form autocomplete="off"  #pessoaForm="ngForm" (ngSubmit)="salvar(pessoaForm)">
    <div class="grid">
      <div class="col-12">
        <h1>{{ editando? 'Editar Pessoa' : 'Nova Pessoa ' }}</h1>
      </div>
      <div class="col-12 p-fluid">
        <label class="padding">Nome</label>
        <input pInputText type="text" name="nome"
          [(ngModel)]="pessoa.nome"
          #nome="ngModel" required minlength="5">

        <app-message [control]="nome.control" error="required" text="Informe um Nome"></app-message>
        <app-message [control]="nome.control" error="minlength" text="Mínimo de {{ nome.errors?.minlength?.requiredLength }} caracteres"></app-message>
      </div>
      <div class="col-12 md:col-9 p-fluid">
        <label class="padding">Logradouro</label>
        <input pInputText type="text" name="logradouro"
          [(ngModel)]="pessoa.endereco.logradouro"
          #logradouro="ngModel" required>

        <app-message [control]="logradouro.control" error="required" text="Informe um Logradouro"></app-message>
      </div>
      <div class="col-12 md:col-3 p-fluid">
        <label class="padding">Número</label>
        <input pInputText type="text" name="numero"
          [(ngModel)]="pessoa.endereco.numero"
          #numero="ngModel" required>

        <app-message [control]="numero.control" error="required" text="Informe um Número"></app-message>
      </div>
      <div class="col-12 md:col-4 p-fluid">
        <label class="padding">Complemento</label>

        <input pInputText type="text" name="complemento"
        [(ngModel)]="pessoa.endereco.complemento">
      </div>
      <div class="col-12 md:col-4 p-fluid">
        <label class="padding">Bairro</label>
        <input pInputText type="text" name="bairro"
          [(ngModel)]="pessoa.endereco.bairro"
          #bairro="ngModel" required>

        <app-message [control]="bairro.control" error="required" text="Informe um Bairro"></app-message>
      </div>
      <div class="col-12 md:col-4 p-fluid">
        <label class="padding">CEP</label>
        <p-inputMask name="cep" mask="99.999-999"
          [(ngModel)]="pessoa.endereco.cep"
          #cep="ngModel" [required]="true"></p-inputMask>

        <app-message [control]="cep.control" error="required" text="Informe um CEP"></app-message>

      </div>
      <div class="col-12 md:col-6 p-fluid">
        <label class="padding">Estado</label>

        <p-dropdown placeholder="Selecione..."
        [filter]="true" [options]="estados"
        [(ngModel)]="estadoSelecionado" name="estadoSelecionado"
        (onChange)="carregarCidades()"
        #estado="ngModel" required></p-dropdown>

        <app-message [control]="estado" error="required"
          text="Informe o estado"></app-message>

      </div>
      <div class="col-12 md:col-6 p-fluid">
        <label class="padding">Cidade</label>

        <p-dropdown placeholder="Selecione..."
          [filter]="true" [options]="cidades"
          [(ngModel)]="pessoa.endereco.cidade.codigo" name="cidade"
          #cidade="ngModel" required
          [disabled]="!estadoSelecionado"></p-dropdown>

          <app-message [control]="cidade" error="required"
          text="Informe a cidade"></app-message>
      </div>
      <div class="col-12 padding-top">
        <p-panel header="Contatos">
          <app-pessoa-cadastro-contato [contatos]="pessoa.contatos"></app-pessoa-cadastro-contato>
        </p-panel>
      </div>
      <div class=" col-12 sm:col-10">
        <button pButton type="submit" label="Salvar" [disabled]="!pessoaForm.valid" class="padding"></button>
        <button pButton type="button" label="Novo" (click)="nova(pessoaForm)" class="p-button-info padding"></button>

      </div>
      <div class="col-12 sm:col-2">
        <a routerLink="/pessoas" class="p-fluid right-0">Voltar para a pesquisa</a>
      </div>
    </div>
  </form>
</div>
